VERSION=              dev
TEST_MODE=            true
JWT_SECRET=           # YdnyBRbnDg1q7MfFUscx

DB_USER=              root
DB_PASSWORD=          # YdnyBRbnDg1q7MfFUscx
DB_NAME=              vmware-booking
DB_PORT=              3306
DB_ADDRESS=           # 10.1.60.10 (NOT localhost or 127.0.0.1. It does not work in docker container)

PROXMOX_ADDR=         addr:8006
PROXMOX_TOKEN_ID=     root@pam!tokenname
PROXMOX_TOKEN_SECRET= token-secret

SMTP_ADDRESS=         # send.one.com
SMTP_PORT=            # 465
SMTP_USER=            # robot@help2u.dk
SMTP_PASSWORD=        # YdnyBRbnDg1q7MfFUscx
