VERSION=             dev
TEST_MODE=           true
JWT_SECRET=          # YdnyBRbnDg1q7MfFUscx

DB_USER=             root
DB_PASSWORD=         # Need to write the db password
DB_NAME=             vmware-booking
DB_PORT=             3306
DB_ADDRESS=          # 10.1.60.10 (NOT localhost or 127.0.0.1. It will not work in docker container)

VM_VCENTER_IP=       # 10.1.60.139
VM_VCENTER_USER=     # administrator@vcenter08.local
VM_VCENTER_PASSWORD= # YdnyBRbnDg1q7MfFUscx
VM_VCENTER_CLUSTER=  # Cluster
VM_VCENTER_DATASTORE= # Datastore
VM_DEFAULT_USER=     # user
VM_ROOT_PASSWORD=    # YdnyBRbnDg1q7MfFUscx

SMTP_ADDRESS=        # send.one.com
SMTP_PORT=           # 587
SMTP_USER=           # robot@help2u.dk
SMTP_PASSWORD=       # YdnyBRbnDg1q7MfFUscx

AD_USER=             # someLogin
AD_PASSWORD=         # YdnyBRbnDg1q7MfFUscx
AD_DOMAIN=           # global.local
AD_ADDRESS=          # 172.16.2.50