<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Console</title>
    <link rel="stylesheet" href="./src/styles.css">
</head>

<body>
    <div class="cred">
        <div>
            <button id="btnCreds">Creds</button>
        </div>
        <div id="creds" style="display: none;">
            <div>
                @Model.VmLogin
            </div>
            <div>
                @Model.VmPassword
            </div>
        </div>
    </div>
    <script>
        const btcCreds = document.getElementById('btnCreds');
        const creds = document.getElementById('creds');

        btnCreds.addEventListener('click', function() {
            console.log(creds.style.display);
            creds.style.display = creds.style.display === 'none' ? 'block' : 'none';
            setTimeout(() => {creds.style.display = 'none'}, 30000);
        });

        document.querySelector('a[target]').addEventListener('click', refreshPage);
    </script>
    <iframe src="./novnc?host=0.0.0.0&port=@Model.VncPort&password=@Model.VncPassword&autoconnect=1&show_dot=true"></iframe>
</body>

</html>