{
  "$schema": "http://json.schemastore.org/launchsettings.json",
  "iisSettings": {
    "windowsAuthentication": false,
    "anonymousAuthentication": true,
    "iisExpress": {
      "applicationUrl": "http://localhost:14425",
      "sslPort": 0
    }
  },
  "profiles": {
    "http": {
      "commandName": "Project",
      "dotnetRunMessages": true,
      "launchBrowser": true,
      "launchUrl": "swagger",
      "applicationUrl": "http://localhost:5222",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development",
        "SCRIPTS_PATH": "/scripts",
        "VERSION": "3.3.0",
        "VM_VCENTER_IP": "",
        "VM_VCENTER_USER": "",
        "VM_VCENTER_PASSWORD": "",
        "VM_CLUSTER_NAME": "Cluster",
        "VM_DATASTORE_NAME": "DatastoreCluster"
      }
    },
    "IIS Express": {
      "commandName": "IISExpress",
      "launchBrowser": true,
      "launchUrl": "swagger",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development"
      }
    }
  }
}
